---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout title="Home Page" description="Welcome to the home page">
  <h1>Welcome to the Home Page</h1>
  <p>This is the main content of the home page.</p>
  <ul>
    <li><a href="/inscription">Inscription</a></li>
    <li><a href="/connexion">Connexion</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/admin">Admin</a></li>
  </ul>
</BaseLayout>
